body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.container {
    text-align: center;
}

.loading {
    display: none;
    font-size: 20px;
    color: #f40909;
    margin: 20px;
}

.content {
    margin: 20px;
    font-size: 18px;
    color: #14f42e;
}
